################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DotNetSitemapSln/AspNet/DotNetSitemap.AspNet.MvcDemo/App_Data
/src/DotNetSitemapSln/AspNet/DotNetSitemap.AspNet.WebFormDemo/App_Data/
